.history-graph-lineChart {
  .bx--chart-holder .bx--cc--toolbar {
    display: none;
  }

  .bx--chart-holder {
    margin: 0 0.5rem;
    height: inherit;
    width: 22rem;
  }
}


.history-modal__period-unit-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  margin: 0;

  >button {
    padding: 0.6rem;
    color: #b6bbc6;
    font-weight: bold;
    font-size: 0.6rem;
    font-family: "Cabin", sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
  }
}


.bx--cc--chart-wrapper text {
  font-size: 0.6rem;
}


.history-modal__period-unit:hover {
  background-color: unset;
}

.history-modal__period-unit-picker>.history-modal__period-unit.history-modal__period-unit--active {
  color: #474747;
  display: flex;
  height: 2rem;
  padding: 0.6875rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid var(--primary-black-80-giga-dark-grey, #474747);
  background: var(--transparent-transparent, #FFF);
  background-blend-mode: multiply;
}

.history-modal__period-unit-picker {
  margin-left: 1rem;
  width: 50%;
}